body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 15px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.nav-list li {
  display: inline;
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}

.movie-list {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movie-thumb {
  position: relative;
}

.movie-thumb a {
  width: 25%;
  color: #fff;
  text-decoration: none;
}

.movie-thumb img {
  width: 100%;
}

.movie-thumb-info {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  transition: all 0.5s ease-in-out;
}

.movie-thumb:hover .movie-thumb-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 10px;
}

/* MOVIE DETAILS PAGE */

.movies-back-button {
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  margin: 8px 0 5px 0;
  border-radius: 10px;
  padding: 6px;
}

.movies-back-button:hover .left-arrow {
  animation-name: arrow-slide;
  animation-duration: 250ms;
}

.movies-back-button:hover {
  border-color: #fff;
}

.button-text {
  position: absolute;
  right: 10px;
  top: -4px;
}

.left-arrow {
  border-color: transparent rgb(255, 255, 255);
  border-style: solid;
  border-width: 20px 20px 20px 0px;
  height: 0px;
  width: 0px;
  position: absolute;
  left: 12px;
  top: 4px;
}

.movie-details-background {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-details-wrapper {
  color: #fff;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.movie-poster-image {
  border: 5px solid #fff;
  width: 80%;
  align-self: center;
}

.movie-details-text {
  background-color: rgba(73, 71, 71, 0.3);
  padding: 5px;
  width: 90%;
  margin: 10px auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.movie-details-text h1 {
  margin: 4px 0;
}

.movie-details-text a {
  width: 10%;
}

.movie-details-text span {
  color: rgb(253, 138, 6);
  margin-left: 10px;
  font-size: 16px;
}

.movie-length {
  margin: 0;
  font-size: 15px;
}

.imdb-logo {
  width: 100%;
}

.movie-overview {
  margin: 0;
}

.genres {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.genres li {
  display: inline;
  margin: 8px 8px 0 0;
  background-color: rgba(17, 69, 226, 0.7);
  padding: 0 5px;
  font-size: 14px;
}

/* ERROR PAGE */

.error-message {
  height: 100vh;
  background-image: url("/images/cinema-image.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.movie-error-message {
  height: 100vh;
  background-image: url("/images/cinema-image.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

/* ANIMATION */

@keyframes arrow-slide {
  0% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(-12px);
  }
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .movie-details-background {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .movie-details-wrapper {
    padding: 30px;
    align-content: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .movies-back-button {
    margin: 2px 0 0 30px;
  }

  .movie .movie-poster-image {
    width: inherit;
  }

  .movie-poster-image {
    align-self: left;
  }

  .movie-details-text {
    margin: 0 0 0 20px;
  }
}

@media (min-width: 1024px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .movie-details-wrapper {
    padding: 50px;
  }

  .movie-details-text {
    max-width: 450px;
  }

  .movies-back-button {
    margin: 20px 0 0 50px;
  }
}
